node_modules/
dist/
.env
.env.local
*.pyc
__pycache__/
.pytest_cache/
.venv/
engine/.venv/
coverage/

python-*.exe
.python313/
data/cache/
engine/helioguard_engine.egg-info/
*.log
*.egg-info/

*.db
*.exe
*.dll


# Ignore all markdown files except README.md
*.md
!README.md
